<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>超市进销存系统分类管理</title>
    <!-- 引入公共样式 -->
    <link rel="stylesheet" href="./stylesheets/commen.css">
    <link rel="stylesheet" href="./stylesheets/elementUI.css">
    <link rel="stylesheet" href="./stylesheets/index.css">
    <!-- 引入建立围墙的路由 -->
    <script src="/users/stopInto"></script>
</head>

<body>
    <div id="box">
        <el-main>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>添加管理</span>
                </div>
                <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm"
                    :label-position="labelPosition">
                    <el-form-item label="所属分类" prop="region">
                        <el-select v-model="ruleForm.region" placeholder="顶级分类">
                            <el-option label="顶级分类" value="0"></el-option>
                            <el-option v-for="(item, index) in classData" :label="item.c_name" :value="item.c_id" ></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="分类名称" prop="name">
                        <el-input v-model="ruleForm.name"></el-input>
                    </el-form-item>
                    <el-form-item label="状态" prop="resource">
                        <el-radio-group v-model="ruleForm.resource">
                            <el-radio label="启用" value="启用"></el-radio>
                            <el-radio label="禁用" value="禁用"></el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
                        <el-button @click="resetForm('ruleForm')">重置</el-button>
                    </el-form-item>
                </el-form>
            </el-card>
        </el-main>
    </div>
    <script src="./javascripts/jquery.min.js"></script>
    <script src="./javascripts/vue.min.js"></script>
    <script src="./javascripts/elementUI.js"></script>
    <script>
        new Vue({
            el: "#box",
            data() {
                return {
                    labelPosition: 'top',
                    ruleForm: {
                        name: '',
                        region: '',
                        resource: '启用'
                    },
                    //用来存储获取的分类名称
                    classData: [],
                    rules: {
                        name: [
                            { required: true, message: '请输入分类名称', trigger: 'blur' },
                            { min: 1, max: 10, message: '长度在 1 到 10 个字符', trigger: 'blur' }
                        ],
                        region: [
                            { required: true, message: '请选择所属区域', trigger: 'change' }
                        ],
                        resource: [
                            { required: true, message: '请选择状态', trigger: 'change' }
                        ]
                    }
                }
            },
            methods: {
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            // 向后台发送数据
                            $.post("/Classification/add", this.ruleForm, function (data) {
                                if (data.isOK) {
                                    if(confirm("是否继续添加？")){
                                        location.reload();
                                    }else{
                                    location.href="/Classification_list.html"
                                    }
                                    
                                } else {
                                    alert(data.msg)
                                }
                            })

                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    })
                },
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                }
            },
            mounted() {
                //获取每一个分类名称，显示
                $.post("/Classification/classList", (data) => {
                    this.classData = data;
                })
            }
        })

    </script>

</body>

</html>