<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>超市进销存系统商品管理</title>
    <!-- 引入公共样式 -->
    <link rel="stylesheet" href="./stylesheets/commen.css">
    <link rel="stylesheet" href="./stylesheets/elementUI.css">
    <link rel="stylesheet" href="./stylesheets/index.css">
    <!-- 引入建立围墙的路由 -->
    <script src="/users/stopInto"></script>
</head>

<body>
    <div id="box">
        <el-main>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>添加商品</span>
                </div>
                <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm"
                    :label-position="labelPosition">
                    <el-form-item label="所属分类" prop="region">
                        <el-select v-model="ruleForm.region" placeholder="选择分类">
                            <el-option v-for="(item, index) in classData" :label="item.c_name" :value="item.c_id" ></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="商品条形码" prop="barCode">
                        <el-input v-model="ruleForm.barCode"></el-input>
                    </el-form-item>
                    <el-form-item label="商品名称" prop="name">
                        <el-input v-model="ruleForm.name"></el-input>
                    </el-form-item>
                    <el-form-item label="商品进价" prop="value" >
                        <el-input v-model="ruleForm.value" @blur="autoCount()"></el-input>
                    </el-form-item>
                    <el-form-item label="商品售价" prop="salePrice">
                        <el-input v-model="ruleForm.salePrice" ></el-input>
                    </el-form-item>
                    <el-form-item label="市场价" prop="marketPrice">
                        <el-input v-model="ruleForm.marketPrice"></el-input>
                    </el-form-item>
                    <el-form-item label="入库数量" prop="num">
                        <el-input v-model="ruleForm.num"></el-input>
                    </el-form-item>
                    <el-form-item label="商品重量" prop="weigth">
                        <el-input v-model="ruleForm.weigth"></el-input>
                    </el-form-item>
                    <el-form-item label="商品单位" prop="unit">
                        <el-input v-model="ruleForm.unit"></el-input>
                    </el-form-item>
                    <el-form-item label="会员优惠" prop="membership">
                        <el-radio-group v-model="ruleForm.membership">
                            <el-radio label='1'>享受</el-radio>
                            <el-radio label='2'>不享受</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="是否促销" prop="resource">
                        <el-radio-group v-model="ruleForm.resource">
                            <el-radio label="1">启用</el-radio>
                            <el-radio label='2'>禁用</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="商品简介">
                        <el-input type="textarea" v-model="ruleForm.details" rows="5"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('ruleForm')">添加</el-button>
                        <el-button @click="resetForm('ruleForm')">重置</el-button>
                    </el-form-item>
                </el-form>
            </el-card>
        </el-main>
    </div>
    <script src="./javascripts/jquery.min.js"></script>
    <script src="./javascripts/vue.min.js"></script>
    <script src="./javascripts/elementUI.js"></script>
    <script>
        new Vue({
            el: "#box",
            data() {
                return {
                    labelPosition: 'top',
                    ruleForm: {
                        region: '',//所属分类
                        barCode: '',//条形码
                        name: '',//商品名称
                        value: null,//进价
                        marketPrice: 0,//市场价
                        salePrice: 0,//商品售价
                        num: 0,//入库数量
                        weigth: 0,//商品重量
                        unit: 'Kg',//商品单位
                        membership: '1',//是否优惠
                        resource: '1',//是否促销
                        details: ''//商品简介
                    },
                    rules: {
                        region: [
                            { required: true, message: '请选择所属分类', trigger: 'change' }
                        ],
                        name: [
                            { required: true, message: '请输入商品名称', trigger: 'blur' },
                        ],
                        value: [
                            { required: true, message: '请输入商品售价', trigger: 'blur' }
                        ]
                    },
                    classData:[]
                }
            },
            methods: {
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            // 向后台发送数据
                            $.post("/item/add", this.ruleForm, function (data) {
                                if (data.isOK) {
                                    if(confirm("是否继续添加？")){
                                        location.reload();
                                    }else{
                                    location.href="/item_list.html"
                                    }
                                    
                                } else {
                                    alert(data.msg)
                                }
                            })
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    })
                },
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                },
                //添加自动计算
                autoCount(){
                    this.ruleForm.value=parseFloat(this.ruleForm.value).toFixed(2)
                    this.ruleForm.marketPrice=(this.ruleForm.value*2).toFixed(2)
                    this.ruleForm.salePrice=(this.ruleForm.marketPrice*0.8).toFixed(2)
                }
            },
            mounted() {
                //获取每一个分类名称，显示
                $.post("/Classification/classList", (data) => {
                    this.classData = data;
                })
            },
            created(){
                this.ruleForm.barCode=new Date().getTime();
            }
        })

    </script>

</body>

</html>