<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>超市进销存系统账号修改</title>
    <!-- 引入公共样式 -->
    <link rel="stylesheet" href="./stylesheets/commen.css">
    <link rel="stylesheet" href="./stylesheets/elementUI.css">
    <link rel="stylesheet" href="./stylesheets/index.css">
</head>

<body>
    <div id="box">
        <el-main>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>修改管理员账号</span>
                </div>
                <el-form :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" label-width="100px" class="demo-ruleForm"
                    :label-position="labelPosition">
                    <el-form-item label="用户名" prop="username">
                        <el-input v-model="ruleForm2.username"></el-input>
                    </el-form-item>
                    <el-form-item label="密码" prop="pass">
                        <el-input type="password" v-model="ruleForm2.pass" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="确认密码" prop="checkPass">
                        <el-input type="password" v-model="ruleForm2.checkPass" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="选择用户组" prop="region">
                        <el-select v-model="ruleForm2.region" placeholder="选择用户组">
                            <el-option label="普通管理员" value="普通管理员"></el-option>
                            <el-option label="超级管理员" value="超级管理员"></el-option>
                            <el-option label="普通用户" value="普通用户"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('ruleForm2')">提交</el-button>
                    </el-form-item>
                </el-form>
            </el-card>
        </el-main>
    </div>
    <script src="./javascripts/jquery.min.js"></script>
    <script src="./javascripts/vue.min.js"></script>
    <script src="./javascripts/elementUI.js"></script>
    <script>
        new Vue({
            el: "#box",
            data() {
                var validatePass2 = (rule, value, callback) => {
                    if (value !== this.ruleForm2.pass) {
                        callback(new Error('两次输入密码不一致!'));
                    } else {
                        callback();
                    }
                };
                return {
                    labelPosition: 'top',
                    ruleForm2: {
                        pass: '',
                        checkPass: '',
                        username: '',
                        region: '',
                        u_id:0,
                        oldPass:""
                    },
                    rules2: {
                        pass: [
                            { required: true, message: '请输入密码', trigger: 'blur' },
                            { min: 6, max: 32, message: '长度在 6 到 32 个字符', trigger: 'blur' }
                        ],
                        checkPass: [
                            { required: true, message: '请输入验证密码', trigger: 'blur' },
                            { validator: validatePass2, trigger: 'blur' }
                        ],
                        username: [
                            { required: true, message: '请输入用户名', trigger: 'blur' },
                            { min: 2, max: 18, message: '长度在 2 到 18 个字符', trigger: 'blur' }
                        ],
                        region: [
                            { required: true, message: '选择用户组', trigger: 'change' }
                        ]
                    }
                };
            },
            methods: {
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            //向后台发送数据
                            $.post("/users/userEdit", this.ruleForm2, function (data) {
                                if (data.isOK) {
                                    alert(data.msg)
                                    //跳转到账号管理页面
                                    location.href = "/member_list.html"
                                } else {
                                    alert(data.msg)
                                }
                            })
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                }
            },
            //加载页面时,回填信息
            mounted(){
                var address=location.href;
                var id=address.split("=")[1]
                $.post("/users/userIDFind",{id},(data)=>{
                    var data=data[0];
                    this.ruleForm2.pass=data.userPwd;
                    this.ruleForm2.checkPass=data.userPwd;
                    this.ruleForm2.username=data.userName;
                    this.ruleForm2.region=data.userRegion;
                    this.ruleForm2.u_id=data.u_id;
                    this.ruleForm2.oldPass=data.userPwd;
                })
            }
        })
    </script>

</body>

</html>