<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>超市进销存系统账号管理</title>
    <!-- 引入公共样式 -->
    <link rel="stylesheet" href="./stylesheets/commen.css">
    <link rel="stylesheet" href="./stylesheets/elementUI.css">
    <link rel="stylesheet" href="./stylesheets/index.css">
</head>

<body>
    <div id="box">
        <el-main>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>修改账号密码</span>
                </div>
                <el-form :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" label-width="100px" class="demo-ruleForm"
                    :label-position="labelPosition">
                    <el-form-item label="原密码" prop="oldpass">
                        <el-input type="password" v-model="ruleForm2.oldpass"></el-input>
                    </el-form-item>
                    <el-form-item label="新密码" prop="pass">
                        <el-input type="password" v-model="ruleForm2.pass" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="确认密码" prop="checkPass">
                        <el-input type="password" v-model="ruleForm2.checkPass" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('ruleForm2')">修改</el-button>
                    </el-form-item>
                </el-form>
            </el-card>
        </el-main>
    </div>
    <script src="./javascripts/jquery.min.js"></script>
    <script src="./javascripts/vue.min.js"></script>
    <script src="./javascripts/elementUI.js"></script>
    <script>
        new Vue({
            el: "#box",
            data() {
                var validatePass2 = (rule, value, callback) => {
                    if (value !== this.ruleForm2.pass) {
                        callback(new Error('两次输入密码不一致!'));
                    } else {
                        callback();
                    }
                };
                return {
                    labelPosition: 'top',
                    ruleForm2: {
                        pass: '',
                        checkPass: '',
                        oldpass: ''
                    },
                    rules2: {
                        pass: [
                            { required: true, message: '请输入密码', trigger: 'blur' },
                            { min: 6, max: 12, message: '长度在 6 到 12 个字符', trigger: 'blur' }
                        ],
                        checkPass: [
                            { required: true, message: '请输入验证密码', trigger: 'blur' },
                            { validator: validatePass2, trigger: 'blur' }
                        ],
                        oldpass: [
                            { required: true, message: '请输入用户名', trigger: 'blur' }
                        ],
                    }
                };
            },
            methods: {
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            // // 向后台发送数据
                            // $.post("/users/add", this.ruleForm2, function (data) {
                            //     console.log(data)
                            // })
                            // // 清除页面信息
                            // this.$refs[formName].resetFields();
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                },
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                }
            },
            //修改密码
        //     mounted() {
        //         var address=location.href;
        //          var index=address.indexOf("=")+1;
        //          var id=address.substr(index)
        //          console.log(id)
        //         $.post("/users/", { id }, (data)=>{
        //             var result=data[0]
        //             console.log(result.userPwd)
        //             this.ruleForm2.oldpass=result.userPwd
        //         })
        //     }
        })

    </script>

</body>

</html>